datasets/
.DS_store
*.pyc
checkpoints/
results/
*.out
__pycache__
.bak
results_v2
*.zip
results
test_predictions
*.sh
checkpoints_multiclass
runs/
checkpoints_all_cls
runs_all_cls
checkpoints_expan_only
exp
.vscode/
test_results/
.csv